@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.OverViwe {
    margin-top: 50px;
    margin-left: 60px;
}

.Title {
    color: Black;
    font-size: 30px;
    font-family: 'INTER';
    font-weight: 400;

}

.Informations {
    margin-top: 50px;
}