@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300&display=swap');


.NoFirstSearch {

    border: 2px solid #f4f4f8;
    border-radius: 8px;
    padding: 30px 30px;

    margin-bottom: 30px;
}

.WrapperRank {
    display: flex;
}

.WrapperRank > div {
    margin: 10px;
    padding: 20px;
    border: 1px solid #f4f4f8;
    border-radius: 8px;
}

.Perfil > .firstCircle > p {
    margin-top: 20px;
    font-weight: bold;
}

.Perfil > .firstCircle {
    

    border: 5px solid linear-gradient(to right, #4FCC06, #72F821);;
    
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}



.Perfil .firstCircle > img {
    width: 120px;
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
}



.CurrentRank-TOP {
    display: flex;
    padding: 10px;
   
}

.CurrentRank-TOP .CustomSelect {
    margin-left: 50px;

    
}

.SelectRank {
    background-color: transparent;
    border: none;
    color: gray;
    font-family: 'Roboto Mono';
}



@media (max-width: 600px) {
    .WrapperRank {
        display: flex;
        flex-direction: column;
    }

    .WrapperRank > div {
        margin-top: 30px;
    }

    .CurrentRank-TOP {
        display: block;

    }

    .CurrentRank-TOP .CustomSelect {
        margin-left: 0px;
        margin-top: 20px;
    }
}