@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300&display=swap');


.WrapperRanks {
    display: flex;
}

.Rank {
    background-color: transparent;
    font-family: 'Roboto Mono';
    width: 28em;
    height: 15em;
    padding: 30px;
    border-radius: 16px;
    border: 2px solid #f4f4f8;
    display: flex;
    margin-right: 30px;
}

.table {
    display: flex;
    height: 30px;
}
.table > span {
    width: 120px;
    margin-right: 5em;
}

.Data {
    margin-left: -22em;
    display: flex;
    align-items: center;
    margin-top: 3em;
}

.Data > img {
   width: 8em;
}


.pointsUp {
    color: #58CCB1;
    font-weight: bold;
    margin-left: -60px;
}

.Points {
    margin-top: 6.3em;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    margin-left: -160px;
}

.PointsUp2 {
    
    width: 30em;
    
}
