@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300&display=swap');


.NoFirstSearch {

    border: 2px solid #f4f4f8;
    border-radius: 8px;
    padding: 30px 30px;

    margin-bottom: 30px;
}

.WrapperRank {
    display: flex;
}

.WrapperRank > div {
    margin: 10px;
    padding: 20px;
    border: 1px solid #f4f4f8;
    border-radius: 8px;
}

.Perfil > .firstCircle > p {
    margin-top: 20px;
    font-weight: bold;
}

.Perfil > .firstCircle {
    

    border: 5px solid linear-gradient(to right, #4FCC06, #72F821);;
    
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}



.Perfil .firstCircle > img {
    width: 120px;
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
}





.CurrentRank-TOP {
    display: flex;
    padding: 10px;

    position: relative;
   
}

.CurrentRank-TOP .CustomSelect {
    position: absolute;

    right: 0px;

    
}

.SelectRank {
    background-color: transparent;
    border: none;
    color: gray;
    font-family: 'Roboto Mono';
    
}

.SelectRank::after {
    content: "→"
}

.imgRank {
    width: 130px;
}

.CurrentRank-MIDLE {
    display: flex;
}

.CurrentRank-MIDLE span {
    font-size: 20px;
    margin-top: 3em;
    font-family: 'Roboto Mono';
}

.CurrentRank-MIDLE span:not(:first-child) {
    margin-left: 10px;
}
.CurrentRank-MIDLE span:nth-child(4) {
    color: #1CB955;
    font-family: 'Roboto Mono';
    font-size: 14px;
    margin-left: 15px;
    margin-top: 4.5em;
    
}


.Wins {
    margin-top: 8em;
    margin-left: -80px;
    font-size: 12px;
    
    
}

.Wins p {
    font-family: 'Roboto Mono';
    color: gray;
}

@media (max-width: 600px) {
    .WrapperRank {
        display: flex;
        flex-direction: column;
    }

    .WrapperRank > div {
        margin-top: 30px;
    }

    .CurrentRank {
        text-align: center;
    }

    .CurrentRank-TOP {
        display: flex;
        padding: 4px;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    .CurrentRank-MIDLE {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .CurrentRank-MIDLE > span {
        margin-top: 30px;
    }

    .CurrentRank-MIDLE span:not(:first-child) {
        margin-left: 0px;

    }

    .CurrentRank-MIDLE span:nth-child(4) {
        margin-top: 30px;
        margin-left: 0px;
    }
    
    .CustomSelect {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .CurrentRank-TOP .CustomSelect > .SelectRank {
        position: unset;
        margin-top: 50px;
    }


    .imgRank {
        margin-top: 50px;
    }

    .Wins {
        margin-left: 0px;
        margin-top: 30px;
    }
}